<% case proposition.barter_status_before_type_cast %>
<% when 3 %>
  <span class="h6 bg-success text-white mr-1 p-1"><strong>マッチ済</strong></span>
<% when 4..5 %>
  <span class="h6 bg-primary text-white mr-1 p-1"><strong>スキル交換完了</strong></span>
<% end %>
