<% case proposition.barter_status_before_type_cast %>
<% when 3 %>
  <span class="h5 bg-success text-white float-right mr-3 rounded p-1">マッチ済</span>
<% when 4..5 %>
  <span class="h5 bg-primary text-white float-right mr-3 rounded p-1">スキル交換完了</span>
<% end %>
