<div class="proposition-card col-md-12 rounded-lg">
  <div class="col-md-12">
    <% proposition.proposition_categories.each do |proposition_category| %>
      <%= render 'tags/tag_card', tag: proposition_category.tag %>
    <% end %>
    <%= proposition.title %><br >
    <%= proposition.introduction %>
  </div>

  <div class="col-md-10">
  </div>
  <div class="col-md-2">
    <%# nameを設定しないとどの案件の「申請」ボタンが押されたのか判別がつかない。 %>
    <%# nameを設定することでparams[:proposition.id] => "申請"となり、判別が付くようになる。 %>
    <%= form.submit "申請", name: "#{proposition.id}", data: { disable_with: "申請中…" }, class: "btn btn-outline-primary btn-block", form: "new_proposition_offer" %>
  </div>
</div>
