<div class="col-md-12">
  <%# タブ部分 %>
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a href="#home" id="home-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true">詳細</a>
    </li>
    <%# マッチングしていない場合はチャット、レビュータグは表示しない。 %>
    <% if proposition.is_matched? %>
      <li class="nav-item" role="presentation">
        <a href="#profile" id="profile-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="profile" aria-selected="false">チャット</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#contact" id="contact-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="contact" aria-selected="false">レビュー</a>
      </li>
    <% end %>
  </ul>

  <%# パネル部分 %>
  <div id="myTabContent" class="tab-content mt-3">
    <div id="home" class="tab-pane active" role="tabpanel" aria-labelledby="home-tab">
      <%# 詳細情報ページ %>
      <%= render 'propositions/proposition_detail', proposition: proposition, offering_proposition: offering_proposition %>
    </div>
    <div id="profile" class="tab-pane" role="tabpanel" aria-labelledby="profile-tab">
      <%# チャットページ %>
      <%= render 'chat_messages/proposition_chat_messages' %>
    </div>
    <div id="contact" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
      <%# レビューページ %>
      <%= render 'reviews/proposition_review', proposition: proposition, review: review %>
    </div>
  </div>
</div>
