<div class="container">
  <div class="row">
    <h1>案件一覧</h1>
  </div>

  <%# 新着案件 %>
  <div class="row">
    <div class="col-md-9">
      <% @propositions.each do |proposition| %>
        <%= render 'propositions/proposition_card', proposition: proposition %>
      <% end %>
    </div>

    <%# 案件検索フォーム %>
    <div class="col-md-3  proposition_search_form rounded-lg">
      <%= render 'propositions/propositions_search_form' %>
    </div>
  </div><br >

  <%# ページネーション %>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <%= paginate @propositions %>
    </div>
  </div>
</div>
