<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/global_navigation_side_bar' %>
    </div>
    <div class="col-md-9">
      <div class="col-md-12">
        <h4><strong>新規案件作成</strong></h4>
      </div>
      <div class="col-md-12 mt-4">
        <%= render 'propositions/proposition_form', proposition: @proposition, form_url: propositions_path, submit_value: "新規作成" %>
      </div>
    </div>
  </div>
</div>
