<%# マッチング関係を矢印でも示すよう後程変更予定。 %>
<div class="container">
  <div class="row">
    <div class="col-md-3 order-1 order-md-0">
      <%= render 'layouts/global_navigation_side_bar' %>
    </div>
    <div class="col-md-9 order-0 order-md-1">
      <div class="row my-2">
        <div class="col-md-12 py-2">
          <h5><strong><%= current_user.name %>さんの実績一覧</strong></h5>
        </div>
        <% @achievements.each do |achievement| %>
          <div class="col-6 col-md-3 mb-3">
            <%= render 'achievements/achievement_card', achievement: achievement %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
