<div class="container-md">
  <div class="row">
    <div class="col-12 col-md-12">
      <% flash.each do |key, value| %>
        <% key = "info" if key == "notice" %>
        <% key = "danger" if key == "alert" %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>
    </div>
  </div>
</div>
