<% if opponent_proposition.bartered? && opponent_proposition.offering == my_proposition %>
  <div class="col-md-7 p-1 bg-primary text-white rounded-lg text-center">
    スキル交換完了
  </div>
<% elsif my_proposition.bartering? && my_proposition.offering == opponent_proposition %>
  <div class="col-md-7 p-1 text-primary border border-primary rounded-lg text-center">
    交換完了申請中
  </div>
<% elsif opponent_proposition.bartering? && opponent_proposition.offering == my_proposition %>
  <div class="col-md-7 p-1 bg-warning rounded-lg text-center">
    交換完了申請受託中
  </div>
<% elsif opponent_proposition.matched? && opponent_proposition.offering == my_proposition %>
  <div class="col-md-7 p-1 bg-success text-white rounded-lg text-center">
    マッチング済
  </div>
<% elsif my_proposition.offering? && my_proposition.offering == opponent_proposition %>
  <div class="col-md-7 p-1 text-success border border-success rounded-lg text-center">
    スキル交換申請中
  </div>
<% elsif opponent_proposition.offering? && opponent_proposition.offering == my_proposition %>
  <div class="col-md-7 p-1 bg-warning rounded-lg text-center">
    スキル交換申請受託中
  </div>
<% end %>
